# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Данные и модель (они скачаются или сгенерируются по инструкции)
data/
*.pkl
predictions.npz

# Системные файлы
Thumbs.db
.DS_Store